<ion-header>
    <ion-navbar>
        <ion-title>{{ person }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <ion-card>
        <ion-card-content>
            {{ text }}
        </ion-card-content>
        <ion-row>
            <ion-col>
                <!-- <button ion-button small outline color="danger" (click)="onRemoveFavorite(quote)">Unfavorite</button> -->
                <button ion-button small outline color="danger" (click)="onClose(true)">Unfavorite</button>                
            </ion-col>
        </ion-row>
    </ion-card>
    <button ion-button color="danger" (click)="onClose()">Close</button>
</ion-content>