
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>    
        <ion-icon name="menu"></ion-icon>          
      </button>
    </ion-buttons>
    <ion-title text-center>Quotes Library</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3 text-center>Select your favorite quote!</h3>
  <ion-list>
    <button 
    ion-item 
    *ngFor="let quoteGroup of quoteCollection" 
    [navPush]="categoryPage" 
    [navParams]="quoteGroup">
      <ion-icon [name]="quoteGroup.icon" item-left></ion-icon>
      <h2>{{ quoteGroup.category | uppercase }}</h2>
      <p>{{ quoteGroup.quotes.length }} quotes</p>
    </button>
  </ion-list>
</ion-content>
