page-category {
    .author {
        color: #ccc;
        text-align: right;
        text-transform: bold;
        margin: 0;
        padding: 0;

        &:before {
            content: '– ';
        }
    }
}